streamlit==1.46.1

crewai[tools]==0.152.0
langgraph==0.6.5
langchain-core==0.3.74

langchain-google-genai==2.1.9
langchain-groq==0.3.7
langchain-openai==0.3.30

python-dotenv==1.1.1
pyyaml==6.0.2

tavily-python==0.7.11
ddgs==9.5.5
requests==2.32.4

pydantic==2.11.7
chromadb==0.5.23
